$card-padding: 1rem;
$cp-off: $card-padding * -1;
$circ-size: 8rem;
$img-pad: .25rem;


.c-na-user-card {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: ($card-padding / 2) $card-padding ($card-padding * 2);
  position: relative;
  background-color: #fff;
  text-align: center;
  transition: color 200ms ease-in-out;

  &::before {
    border-radius: 50%;
    background-color: $primary-dark;
    content: '';
    height: $circ-size;
    left: 50%;
    position: absolute;
    top: $card-padding * 2 + 1rem + $img-pad;
    transform: translateX(-50%);
    transition: transform 420ms ease-in-out;
    width: $circ-size;
    will-change: transform;
    z-index: 1;
  }

  &:hover::before {
    transform: translateX(-50%) scale(10);
  }

  &:not(&--minimal):hover {
    color: $white;

    .c-na-user-card__tagline {
      border-left-color: $secondary-base;
    }

    a {
      color: saturate($accent-base, 50%);
    }

  }

  & > * :not(&__headerbg) {
    position: relative;
    z-index: 2;
  }


  &__headerbg {
    background: url('../../images/unspcard001.jpeg') no-repeat center center / cover;
    filter: grayscale(1);
    height: $circ-size;
    margin-bottom: ($circ-size / 2 + $img-pad) * -1 ;
    margin-left: $cp-off;
    margin-right: $cp-off;
    margin-top: $cp-off;
  }

  &__img {
    background-color: $white;
    border: 3px solid $grey-light;
    border-radius: 50%;
    display: inline-block;
    height: $circ-size;
    margin-bottom: 1rem;
    width: $circ-size;
    padding: $img-pad;

  }

  &__name {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: .5rem;
    position: relative;
    text-transform: capitalize;
  }

  &__tagline {
    border-left: 3px solid $accent-base;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    margin-top: 0;
    padding: .5rem;
    position: relative;
    text-transform: uppercase;
    transition: border-left-color 300ms ease-in-out;
  }

  &__copy {
    text-align: left;
    line-height: 1.5;

    &:first-of-type {
      margin-top: 2rem;
    }

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &__social {
    @include flex($align: center, $justify: space-around);
  }

  &__link {
    border-bottom: 1px solid;
    color: saturate($secondary-base, 10%);
    text-decoration: none;
    transition: color 200ms ease-in-out,
                opacity 200ms ease-in-out;

    &:hover {
      color: $secondary-base !important; /* FIX: refactor so !important is not needed */
    }

  }

  &__link--social {
    border-bottom: none;
    display: inline-block;
    padding: .25rem;

    i {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.75rem;
    }
  }

}

/* minimal-specific styles */
.c-na-user-card--minimal {

  &::before {
    display: none;
  }

  .c-na-user-card__tagline {
    border-left: none;
    padding: .5rem 0 0;
  }

  .c-na-user-card__link--social:hover {
    color: saturate($accent-base, 50%) !important; /* FIX: refactor so !important is not needed */
  }

}

@media screen and (min-width: 25em) {
  $card-padding: 2rem;

  .c-na-user-card {
    border: 1px solid $grey-light;
    max-width: 22rem;
    padding: ($card-padding / 2) $card-padding $card-padding;

    &__headerbg {
      margin-left: $card-padding * -1;
      margin-right: $card-padding * -1;
    }

    &::before {
     top: $card-padding * 2 - $img-pad;
    }
  }
}

@media screen and (min-width: 35em) {
  $card-padding: 2rem;
  $circ-size: 6rem;


  /* horizontal-specific styles */
  .c-na-user-card--hz-ns {
    max-width: 40rem;
    padding: 0;

    &::before {
      left: $circ-size + 1.5rem;
      top: $card-padding - ($img-pad * 2.4);
    }

    .c-na-user-card__body {
      float: left;
      padding: 1rem 2rem 1rem 1rem;
      width: calc(100% - 15rem);
    }

    .c-na-user-card__header {
      float: left;
      padding: 1.4rem;
      position: relative;
      width: 15rem;
    }

    .c-na-user-card__headerbg {
      display: none;
    }

    .c-na-user-card__name {
      font-size: 1.3rem;
    }

    .c-na-user-card__tagline {
      font-size: 1rem;
      margin-top: .5rem;
      padding: .4rem;
    }

  }
}
