/*
  grid start
 */

.container-div-a{
  box-sizing: border-box;
}

.gray{
  background-color: gray;
  border: 1px solid black;
  color: white;
  text-align: center;
  font-family: 'Inconsolata';
}

.p-grid{
  font-family: 'Montserrat';
}


.row header{
  font-family: Inconsolata;
}

.template-body{
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}


.row{
  padding: 20px;
  width: 100%;
  min-height: 1px;
  float: left;
}



.col{
  min-height: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-right: -4px;
}

.col.one {width: 8.33333%;}
.col.two {width: 16.66667%;}
.col.three {width: 25%;}
.col.four {width: 33.33333%;}
.col.five {width: 41.66667%;}
.col.six {width: 50%;}
.col.seven {width: 58.33333%;}
.col.eight {width: 66.66667%;}
.col.nine {width: 75%;}
.col.ten {width: 83.33333%;}
.col.eleven {width: 91.66667%;}
.col.twelve {width: 100%;}


/*For mobile, choose this media query if you want everything to be aligned vertically in display: */

@media (max-width: 768px){

  .col{
    width: 100% !important;
  }

}



/*Also for mobile, choose this media query if you want everything to look as it does for desktop:

@media (max-width: 768px){

  .col.one {width: 8.33333%;}
  .col.two {width: 16.66667%;}
  .col.three {width: 25%;}
  .col.four {width: 33.33333%;}
  .col.five {width: 41.66667%;}
  .col.six {width: 50%;}
  .col.seven {width: 58.33333%;}
  .col.eight {width: 66.66667%;}
  .col.nine {width: 75%;}
  .col.ten {width: 83.33333%;}
  .col.eleven {width: 91.66667%;}
  .col.twelve {width: 100%;}

}

*/


/*
  grid end
 */