/*
  scrollspy start
 */

/* css or scss here */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: coral;

 }

nav ul {
  margin: 15px 0 0 0;
}
nav ul li {
  list-style: none;
  margin: 0 50px 0 0;
  display: inline;
}

.active {
  font-family: 'futura', serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}

a {
  font-family: 'futura', serif;
  font-size: 18px;
  color: grey;
  text-decoration: none;
  line-height: 50px;
}

#lorum {
  background-color: #1BF3B5;
  height: 100%;
  overflow: hidden;
  padding-top:60px;
  width: 100%;
}

#aliquam {
   background-color: white;
  height: 100%;
  padding-top:60px;
  width: 100%;
}

#morbi {
  background-color: #F4F999;
  height: 100%;
  padding-top:60px;
  width: 100%;
}

#pellentesque {
  background-color: #99F99E;
  height: 100%;
  padding-top:60px;
  width: 100%;
}
/*
  scrollspy end
 */
