.c-na-table td {
  transition: all 600ms ease-in-out;
}

.c-na-table{
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 0px 6px 20px 5px rgba(50, 50, 50, 0.75);
  font-family: 'Montserrat';
}

.p-table{
  font-family: 'Inconsolata';
}

.th-head {
  background-color: #5B65BA;
  border-bottom: 1px solid black;
}

.table-border{
  border-bottom: 1px solid black;
  display: inline-block;
}

.row-a:hover,
.row-b:hover,
.row-c:hover{
  font-weight: 900 !important;
}


.c-na-table td{
  text-align: center;
  padding: 10px;
}

.column-d{
  cursor: pointer;
}

#ta-one,
#ta-two,
#ta-three{
  display: inline-block;
  position: relative;
}

.exit-button{
  border: none;
  cursor: pointer;
  float: right;
  font-color: black;
  position: relative;
}