*{
    box-sizing: border-box;
}

.row header{
    font-family: Inconsolata;
}

.template-body{
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}


.row{
    padding: 20px;
    width: 100%;
    min-height: 1px;
    /*     float: left; */
}



.col{
    min-height: 40px;
    border-radius: 8px;
    display: inline-block;
}

.col.one {width: 8.33333%;;}
.col.two {width: 16.66667%;}
.col.three {width: 25%;}
.col.four {width: 33.33333%;}
.col.five {width: 41.66667%;}
.col.six {width: 50%;}
.col.seven {width: 58.33333%;}
.col.eight {width: 66.66667%;}
.col.nine {width: 75%;}
.col.ten {width: 83.33333%;}
.col.eleven {width: 91.66667%;}
.col.twelve {width: 100%;}


@media (max-width: 768px){

    .col{
        width: 100% !important;
    }

    .col.three.index-panel{
        position: relative;
        top: 0px;
    }
}


.col.three.index-panel{
    list-style-type: none;
    height: 100%;
    float: left;
    /*   position: relative;
      bottom: 967px;
      right: 39px; */
}

.index-panel ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.index-panel ul li{
    padding: 20px;
}

.navigator-arrows{
    position: fixed;
    right: 100px;
    top: 200px;
    cursor: pointer;
    letter-spacing: 20px;
    line-height: 40px;
}

/*  NOTE: I (hannah) commented out bobby's CSS because I couldn't get it to work for me for some reason, might be a compiling issue.

.nascent-header{
  background-color: black;
  padding: 0.5em;
  position: fixed;
  width: 100%;    
}
.nascent-header__logo{
  //width: 30em;
  //height: 20em;
}
.nascent-header__logo-image{
	margin-right: 1.5em; 
  width: 7em;
}
.nascent-header__logo-text{
  //width: 50%;
  //height: 10em;
}
.nascent-header__logo-text--top{
  color: red;
}
.nascent-header__logo-text--bottom{
  color: white;
}
.main-content{

}
.template-nav{
  background-color: #aeaca8;
  display: block;
  float: left;
  height: 100%;
  list-style: none;
  list-style-position: outside; 
  margin: 0; 
  padding: 1em 0.9375em 30em 8em;
  text-align: right;
}
.nav__item{
 	list-style-type: none;
    background-color: red;
	margin-right: 1em;
	padding: 1em;
	position: relative;
	text-align: right;
}
.nav__link{
  text-decoration: none;
  margin-bottom: 100%;
}
.website-components{

}
.website-components__component{

}
.nascent-footer{
  background-color: #30353b;
  column-count: 6;
  column-gap: 2.5em; 
  display: block;
  padding: 5em .05em 2em 7em;
}

*/

/*

.nascent-footer__text{
  color: #f3f3f3;
  display: inline;
  font-weight: bold; 
  list-style-type: none;
  margin-right: 100%;
  text-align: center;
  text-decoration: none;
  width: 100;
}
.authors{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  margin: 0;
}
.authors__author{
  padding: 2em 1em 2em 1em;
  text-align: center;
  //list-style-type: none;
}
.authors__image{
  border-radius: 50%;
  height: 5em;
  width: 5em;
//line-height:1.5625em;
}
.authors__author-name{
  color: #f3f3f3;
}

*/



