/*
  accordion start
 */

.c-na-accordion {
  color: $black;
  padding: 0;
  width: 50%;
  min-width: 18rem;
  margin: 0 auto;
  box-shadow: 0 2px 3px 3px $grey-med;
  box-shadow: 0 2px 3px 3px rgba($grey-med, 0.5);
}

.c-na-accordion__header {
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  height: 2.5rem;
  transition: all 0.5s ease;
  font-weight: bold;
  letter-spacing: 0.05rem;

    /* we don't want to respond to a click on anything nested in this
        class; alternatively put, we need to know when this class is
        the target of a click event without sifting through unknown
        contained elements; */
    & * {
      pointer-events: none;
    }

    & i {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 2.5rem;
    }

    & .c-na-accordion__arrow {
      transform: scale(1.25);
      position: absolute;
      right: 0;
      display: inline-block;
      transition: transform 0.5s ease;
    }

    &:hover {
     background-color: $primary-light;
     color: $black;
    }

}

.c-na-accordion__header--active {
  background-color: $primary-dark;
  color: $white;
  border-bottom: 1px solid $grey-med;

    & .c-na-accordion__arrow {
      transform: scale(1.25) rotate(180deg);
    }
}

.c-na-accordion__body {
  overflow-y: scroll;
  transition: all 0.5s ease;
  padding: 0 1rem;
  height: 10rem;
}

.c-na-accordion li:not(:last-child) .c-na-accordion__body {
  border-bottom: 1px solid $grey-med;
}

.c-na-accordion__body--closed {
  height: 0;
  overflow: hidden;
}

/*
  accordion end
 */