* {
  box-sizing: border-box;
}

header {
  background-color: rgb(34, 38, 42);
  background-color: hsl(210, 11%, 15%);
  color: white;
  padding: 1rem;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

main,
main.na-demo-page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  /*border: 1px solid green;*/
}

.spy-nav {
  position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10rem;
        flex: 0 0 10rem;
  /*border: 1px solid hotpink;*/
  /*overflow-y: scroll;*/
}

.spy-nav__list {
  /* padding is what indents the li elements;
      also of interest, setting padding to 0 gets rid of bullets; */
  padding: 0;
  /* margin: 0; is default, but state for explicitness */
  margin: 0;
  position: absolute;
  /*top: 0;*/
  width: 10rem;
  overflow-y: auto;
  /*flex-basis: 10rem;*/
  border: 1px solid blue;
  /*z-index: 100;*/
}

.spy-nav__list li {
  /* setting padding to 0 on parent ul gets rid of bullets ??;
      but set here for explicitness anyway; */
  list-style-type: none;
  text-align: center;
}

.spy-nav__list li a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 1rem 0.5rem;
  color: white;
  /*background-color: #aaa;*/
  transition: all 0.35s ease;
}

.spy-nav__list li a:hover {
  background-color: yellow;
}

.spy-reference-container {
  /*width: 400px;*/
  /*border: 1px solid red;*/
}

.spy-section {
  padding: 1rem;
  border: 1px solid black;
}

footer {
  height: 20rem;
  background-color: gray;
}

/* put dynamically added classes at bottom for specificity */

/* class to be added when we want to fix the nav */
.affix {
  position: fixed;
  top: 0;
  /*z-index: 100;*/
}

.overflow-y {
  overflow-y: scroll;
}

/* spy-specific rule sets */

/* class to be used for initial inactive state for spy anchors */
.spy-nav__a--inactive {
  /* probably want to change to transparent and let body
     bg color through */
  background-color: transparent;
  background-color: #aaa;
}

/* class to be added/removed to indicate the active spy section */
.spy-nav__a--active {
  background-color: orange;
}

