// flex container boilerplate
@mixin flex($dir: row, $align: auto, $justify: auto, $display: flex, $wrap: auto) {
  align-items: $align;
  display: $display;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $justify;
}
