/* Framework wide variables for color
 */
 
$primary-light: #b3e5fc;
$primary-base: #03a9f4;
$primary-dark: #01579b;

$secondary-light: #ffab91;
$secondary-base: #ff5722;
$secondary-dark: #dd2c00;

$accent-light: #fcf4a3;
$accent-base: #FFDC00;
$accent-dark: #a27500;


$black: #111;
$grey-light: #eee;
$grey-med: #9e9e9e;
$grey-dark: #212121;

$white: #fffffc;
