.na-markup {
  margin: 1.5rem auto;
  max-width: 60rem;

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .75rem 1.5rem;
    background-color: lighten($lav-light, 5%);
    border: none;
    color: $primary-dark;
    font-family: inherit;
    transition: background-color 300ms ease-in-out;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px $primary-base;
    }

    &:hover {
      background-color: $lav-light;
    }
  }

  &__icon,
  &__txt {
    font-weight: bold;
    pointer-events: none;
  }

  &__code {
    display: none;
    margin: 0;

    &.show {
      display: block;
    }

    pre {
      margin-top: 0;
      padding: 0 .5rem;
      max-height: 30rem;
      overflow: auto;
    }
  }
}
