/* visually hides content but allows it to be rendered for screenreaders */
.sr-only {
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
  position: absolute;
  width: 1px;
}

/*
  STATES
*/

[disabled],
.is-disabled {
  cursor: not-allowed;
}

/*
  SIZING
*/

/* will force an element to be the full width of its container */
.u-na--fw {
  max-width: 100%;
  width: 100%;
}

/*
  BACKGROUNDS
*/

/* removes backgrounds (in case of bg color or bg image) */
.u-na--no-bg {
  background-color: transparent;
  background: none;
}

/*
  BORDERS
*/

/* removes a border from a component that has one by default; good for variations of styles */
.u-na--no-bd {
  border: none;
}

/* eq to 2px when based on a font size of 16px; will grow in scale to the font size and when the page is zoomed */
.u-na--bd {
  border-style: solid;
  border-width: .125em;
}

/* will provide a 1px border no matter what the font size is or if the page is zoomed */
.u-na--bd-thin {
  border-style: solid;
  border-width: 1px;
}

/*
  BORDER RADIUS
*/

/* gives an element a pill shaped border radius */
.u-na-br--pill {
  border-radius: 20em;
}

.u-na-br--rounded {
  border-radius: .2em;
}

/*
  GENERIC HOVER STATES
*/

/* dims an element on hover; dims the whole element, not just the background */
.u-na--dim {
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: .5;
  }
}

/*
  TEXT TRANSFORMS
*/

.u-na--uppercase {
  text-transform: uppercase;
}
